<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Main room</title>
    <link rel="stylesheet" th:href="@{/basic-style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/index-style.css}" type="text/css"/>
</head>
<body class="main-page-body">
<div th:replace="userHeader"></div>
<div id="main-page-content">
    <div id="text-and-btn">
        <h1 id="main-heading">
            Looking for room?
        </h1>
        <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it look like readable English. Many
            desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
            search for 'lorem ipsum' will uncover many web sites still in their infancy.
        </p>
        <button id="create-room-btn"
                onclick="location.href='controller?command=showPage&page=WEB-INF/view/user-pages/requestRoom.jsp'"
                type="button">
            request
        </button>
    </div>
    <div id="background-circle">
        <img th:src="@{/hotel.png}" alt="hotel photo">
    </div>
</div>
</body>
</html>