<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.sprinfgramework.org/schema/security" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Requests</title>
    <script th:src="@{/scripts.js}"></script>
    <link rel="stylesheet" th:href="@{/basic-style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/requests-style.css}" type="text/css"/>
</head>
<body>
<div sec:authorize="hasRole('ROLE_CLIENT')">
    <div th:replace="userHeader"></div>
    <div id="page-content">
        <table id="requests-table">
            <thead>
            <tr>
                <th class="number-column"><p class="table-heading-text">#</th>
                <th class="start-date-column">
                    <p class="table-heading-text">
                        start date
                    </p>
                </th>
                <th class="end-date-column">
                    <p class="table-heading-text">
                        end date
                    </p>
                </th>
                <th class="room-capacity-column">
                    <p class="table-heading-text">
                        room capacity
                    </p>
                </th>
                <th class="room-class-column">
                    <p class="table-heading-text">
                        room class
                    </p>
                </th>
                <th class="is-approved-column">
                    <p class="table-heading-text">
                        is approved
                    </p>
                </th>
                <th class="room-price-column">
                    <p class="table-heading-text">
                        room price
                    </p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requestsDto,iter: ${requests}">
                <td>
                    <p class="table-text" th:text="${iter.count}">
                    </p>
                </td>
                <td>
                    <p class="table-text" th:text="${requestsDto.startDate.toString().substring(0,10)}">
                    </p>
                </td>
                <td th:switch="${requestsDto.endDate==null ? true : false}">
                    <h1 class="dash" th:case="${true}">-</h1>
                    <p class="table-text" th:case="${false}"
                       th:text="${requestsDto.endDate.toString().substring(0,10)}"></p>
                </td>
                <td><p class="table-text" th:text="${requestsDto.roomCapacity}"></p></td>
                <td><p class="table-text" th:text="${requestsDto.roomClass}">
                </p></td>

                <td th:switch="${requestsDto.isApproved}? ${true} : ${false}"><img th:src="@{/accept.png}"
                                                                                   alt="accept image"
                                                                                   class="accept-image"
                                                                                   th:case="${true}"><img
                        th:src="@{/pending.png}" th:case="${false}" alt="pending image" class="pending-image"></td>
                <td th:switch="${requestsDto.isApproved}? ${true} : ${false}"><p class="table-text" th:case="${true}"
                                                                                 th:text="${requestsDto.price}">
                </p>
                    <h1 class="dash" th:case="${false}">-</h1>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="page-navigation">
            <tr>
                <td th:each="i: ${#numbers.sequence(1, requests.getTotalPages)}"><h2>
                    <a th:href="@{/requests/my/{pageNumber}(pageNumber=${i})}" th:text="${i}">
                    </a>
                </h2></td>
            </tr>
        </table>
    </div>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:replace="adminHeader"></div>
    <div id="page-content">
        <table id="requests-table">
            <thead>
            <tr>
                <th><p class="table-heading-text">#</p></th>
                <th>
                    <p class="table-heading-text">
                        start date
                    </p>
                </th>
                <th>
                    <p class="table-heading-text">
                        end date
                    </p>
                </th>
                <th>
                    <p class="table-heading-text">
                        room capacity
                    </p>
                </th>
                <th>
                    <p class="table-heading-text">
                        room class
                    </p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requestsDto,iter: ${requests}">
                <td><a class="in-column-link"
                       th:href="@{/request/handle/{id}(id=${requestsDto.id})}" th:text="${iter.count}">
                </a></td>
                <td>
                    <p class="table-text" th:text="${requestsDto.startDate.toString().substring(0,10)}">
                    </p>
                </td>
                <td th:switch="${requestsDto.endDate==null ? true : false}">
                    <h1 class="dash" th:case="${true}">-</h1>
                    <p class="table-text" th:case="${false}"
                       th:text="${requestsDto.endDate.toString().substring(0,10)}"></p>
                </td>
                <td><p class="table-text" th:text="${requestsDto.roomCapacity}"></p></td>
                <td><p class="table-text" th:text="${requestsDto.roomClass}"></p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>