<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Rooms</title>
    <link rel="stylesheet" th:href="@{/basic-style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/rooms-style.css}" type="text/css"/>
    <script th:src="@{/scripts.js}"></script>
</head>
<body>
<div th:replace="adminHeader"></div>
<div id="page-content">
    <table id="rooms-table">
        <thead>
        <tr>
            <th id="counter-row" class="number-column"><p class="table-heading-text">#</p></th>
            <th class="room-number-column"><p class="table-heading-text">
                room number
            </p></th>
            <th class="room-capacity-column"><p class="table-heading-text">
                room capacity
            </p></th>
            <th class="room-class-column"><p class="table-heading-text">
                room class
            </p></th>
            <th class="room-price-column"><p class="table-heading-text">
                room price
            </p></th>
            <th class="room-price-date-column"><p class="table-heading-text">
                valid from
            </p></th>
            <th class="is-blocked-column"><p class="table-heading-text">
                is blocked
            </p></th>
            <th class="set-room-state-column"><p class="table-heading-text">
                block/unblock
            </p></th>
            <th class="delete-room-column"><p class="table-heading-text">
                delete room
            </p></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room,iter: ${rooms}">
            <td id="room-number-data">
                <p class="table-text" th:text="${iter.count}">
            </td>
            <td><p class="table-text" th:text="${room.number}"></p></td>
            <td id="room-capacity-data"><p class="table-text" th:text="${room.capacity}"></p></td>
            <td>
                <p class="table-text" th:text="${room.type}">
                </p>
            </td>
            <td><p class="table-text" th:text="${room.price}"></p></td>
            <td id="price-date-data">
                <p class="table-text" th:text="${room.validFrom.toString().substring(0,10)}">
                </p>
            </td>
            <td th:switch="${room.isBlocked}">
                <img th:case="${true}" th:src="@{/accept.png}" alt="accept image" class="accept-image">
                <img th:case="${false}" th:src="@{/pending.png}" alt="pending room" class="pending-image">
            </td>
            <td th:switch="${room.isBlocked}">
                <a th:case="${true}" class="in-column-link"
                   th:href="@{/room/edit/unblock/{id}(id=${room.id})}" th:text="unblock">
                </a>
                <a th:case="${false}" class="in-column-link"
                   th:href="@{/room/edit/block/{id}(id=${room.id})}" th:text="block">
                </a>
            </td>
            <td>
                <a class="in-column-link"
                   th:href="@{/room/delete/{id}(id=${room.id})}" th:text="'delete room'"
                   onclick="return ConfirmDelete()">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--    <table class="page-navigation">-->
    <!--        <tr>-->
    <!--            <c:forEach begin="1" end="${numberOfPages}" var="i">-->
    <!--                <td><a href="controller?command=roomsPage&page=${i}">${i}</a></td>-->
    <!--            </c:forEach>-->
    <!--        </tr>-->
    <!--    </table>-->
    <!--    <button id="create-room-btn" onclick="location.href='controller?command=createRoomPage'"-->
    <!--            type="button">-->
    <!--        <fmt:message key="create-room-btn"/>-->
    <!--    </button>-->
</div>
</body>
</html>